* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

header,
footer {
    background: blue;
    height: calc(12% - .1rem);
}

header {
    margin-bottom: .1rem
}

footer {
    margin-top: .1rem
}

main {
    height: 76%;
}

.container {
    width: calc(60% - .2rem);
    margin: 0 auto;
    height: 100%;
}

section:first-child {
    height: 60%;
}

section:first-child div {
    height: calc(100% - .2rem);
    float: left;
}

section:first-child div:first-child {
    width: calc(60% - .2rem);
    background: greenyellow;
    margin: .1rem;
}

section:first-child div:nth-child(2) {
    width: calc(40% - .2rem);
    background: rgb(37, 46, 24);
    margin: .1rem;
}

section:nth-child(2) {
    height: 40%
}

section:nth-child(2) div {
    height: calc(100% - .2rem);
    float: left;
}

section:nth-child(2) div:first-child {
    width: calc(50% - .2rem);
    background: rgb(153, 161, 141);
    margin: .1rem;
}

section:nth-child(2) div:nth-child(2) {
    width: calc(50% - .2rem);
    background: rgb(120, 185, 29);
    margin: .1rem;
}