.btnCrear {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnDelete{
    border-radius: 50%;
    background: red;
    outline: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}
.wrapDelete{
    display: flex;
    align-items: center;
    justify-content: center;
}