<!-- Modal -->
<div class="modal fade animated fadeIn" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="" #formulario="ngForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="nFacturaId">Id Factura</label>
                                    <input type="text" name="id_factura" required id="nFacturaId" class="form-control" [(ngModel)]="objFactura.id" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label for="nFactura">Nro de Factura</label>
                                    <input type="text" name="numero_factura" required id="nFactura" class="form-control"
                                        [(ngModel)]="objFactura.fact_nro" placeholder="Ejm: F01-00456"
                                        #nFactura="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="nRazonSocial">Razón Social</label>
                                    <input type="text" name="razon_social" required id="nRazonSocial"
                                        class="form-control" placeholder="Ejm: Pelicano S.A."
                                        [(ngModel)]="objFactura.fact_rz" #nRazonSocial="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="fecha_f">Fecha de Facturación</label>
                                    <input type="date" name="fecha" id="" class="form-control" required
                                        [(ngModel)]="objFactura.fact_fech" #fecha_f="ngModel">
                                </div>
                                <div class="col-md-6">
                                    <label for="ruc">RUC</label>
                                    <input type="text" name="ruc" id="ruc" maxlength="11" minlength="11"
                                        class="form-control" required placeholder="Ejm: 12345678901"
                                        [(ngModel)]="objFactura.fact_ruc" #ruc="ngModel">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <button type="submit" class="btn btn-block btn-lg btn-dark" [disabled]="!formulario.valid"
                                (click)="guardarFacturaEditada(id)">
                                <i class="fas fa-save"></i>
                                Guardar Factura
                            </button>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="guardarFacturaEditada(objFactura.id)">Save</button>
            </div>
        </div>
    </div>
</div>
<main class="container mt-5">
        <button type="button" class="btn btn-danger" *ngIf="facturasSeleccionadas.length > 0" (click)="eliminarFacturas()">Eliminar Facturas</button>
    <div>
        <div class="alert alert-success text-center" role="alert" *ngIf="!facturas">
            <h4 class="alert-heading">Cargando...........</h4>
            <p><i class="fa fa-refresh fa-3x fa-spin" aria-hidden="true"></i>
            </p>
            <p class="mb-0"></p>
        </div>
        <div *ngIf="facturas" class="animated slideInLeft">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sel.</th>
                        <th>ID</th>
                        <th>RazonSocial</th>
                        <th>Número Factura</th>
                        <th>RUC</th>
                        <th>Fecha de Compra</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of facturas">
                        <td>
                            <input type="checkbox" class="form-control" id="{{f.id}}" (change)="seleccionarFactura($event, f)">
                        </td>
                        <td>{{f.id}}</td>
                        <td>{{f.fact_rz}}</td>
                        <td>{{f.fact_nro}}</td>
                        <td>{{f.fact_ruc}}</td>
                        <td>{{f.fact_fech}}</td>
                        <td class="wrapDelete"><button class="btn btnDelete "><i class="fa fa-trash" aria-hidden="true"
                                    (click)="borrarFactura(f.id)"></i></button><button
                                class="btn btnDelete bg-warning ml-2"><i class="fa fa-pencil" aria-hidden="true"
                                    (click)="abrirModalEditar(f.id)"></i></button></td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <button class="btn btn-dark btnCrear animated bounce infinite slow" (click)="crearFactura()">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</main>