<main>
    <h1>Directiva <code>[ngStyle]</code></h1>
    <br>
    <p>La directiva <code>[ngStyle]</code> sirve para colocar estilos en linea a las etiquetas HTML</p>
    <hr>
    <h3>Ejemplo usando el atributo <code>style</code></h3>
    <p style="color:chartreuse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis laborum sapiente vero voluptatibus dicta animi placeat fuga laboriosam similique corporis dolore debitis voluptates tempore iste, quibusdam ipsum harum voluptatem!</p>
    <hr>
    <h3>Usando la directiva <code>[ngStyle]</code></h3>
    <p [ngStyle] = "{'background-color': 'red', 'column-count':2,'column-rule': '0.2rem solid rgb(75, 180, 149)'  }">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore id ex, repellendus magni inventore optio sed molestiae nostrum quibusdam nesciunt provident, at facilis temporibus eveniet iste quae ratione veniam numquam?</p>
</main>
